*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #000000;
    width: 1512px;
    height: 76px;
    width: 100%;
}
.navp{
    width: 164px;
    height: 29px;
    top: 24px;
    left: 21px;
    padding: 20px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFF;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.inputtext{
    width: 1226px;
    height: 65px;
    top: 104px;
    left: 29px;
    border: 1px;
    /* margin: 30px; */

    background: #FFFFFF;
    border: 3px solid skyblue
}
.btn{
    width: 217px;
    height: 65px;
    top: 103px;
    left: 1268px;
    background: #000000;
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    
}
.searchbar{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.functionalbtns{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.funbtn{
    background: #000000;
    width: 217px;
    height: 66px;
    top: 197px;
    left: 29px;
    font-family: Inter;
    font-size: 24px;
    font-weight: normal;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition */
}
.tblcont{
    width: 1452px;
    height: 65px;
    top: 291px;
    left: 29px;
    border: 1px;
    margin-left: 30px;

}
.heading{
    width: 1452px;
    height: 65px;
    top: 291px;
    left: 29px;
    border: 1px;
    border: 1px solid #000000;

}
.headrow{
    width: 67px;
    height: 29px;
    top: 309px;
    left: 133px;
    padding: 20px;
    font-family: Inter;
    font-size: 24px;
    font-weight: normal;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}

th, td {
    text-align: center;
    padding: 10px;
}

.funbtn:hover{
    background-color: #333; /* Darker color when hovered */
    transform: scale(1.05); /* Slightly scale up on hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
}






